[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"
yapf = "*"
pytest-watch = "*"

[packages]
jupyter = "*"
pyspark = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
python-dotenv = "*"
plotly = "*"
pandas_bokeh = "*"
nltk = "*"
requests = "*"
geopandas = "*"
shapely = "*"
bokeh = "*"
pexpect = "*"
beautifulsoup4 = "*"

[requires]
python_version = "3.7"
